<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:layout=""
	layout:decorate="~{layouts/user-layout}">
<head>
<title>Liên hệ</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container pt-5 pb-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Vị trí cửa hàng</li>
				</ol>
			</nav>

			<div>
				<iframe
					src="https://www.google.com/maps/d/u/0/embed?mid=12sLdKBHokemzyls1X0uEfFx6FjJ5ptsA"
					width="100%" height="500px"></iframe>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Thông tin về cửa hàng</li>
				</ol>
			</nav>

			<div class="row">
				<div class="col-md-4">
					<ul style="list-style-type: none; margin: 0; padding: 0">
						<li class="border-bottom pt-2 pb-1"><h4>HỖ TRỢ</h4></li>
						<li class="border-bottom pt-1 pb-1">Tổng đài hỗ trợ: <b>19002091</b></li>
						<li class="border-bottom pt-1 pb-1">Hướng dẫn mua hàng</li>
						<li class="border-bottom pt-1 pb-1">Chính sách bảo mật</li>
						<li class="border-bottom pt-1 pb-1">Chính sách bảo hành</li>
						<li class="border-bottom pt-1 pb-1">Phản hồi ý kiến</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul style="list-style-type: none; margin: 0; padding: 0">
						<li class="border-bottom pt-2 pb-1"><h4>THÔNG TIN LIÊN
								HỆ</h4></li>
						<li class="border-bottom pt-1 pb-1">Cửa hàng: Anh Văn Mobile</li>
						<li class="border-bottom pt-1 pb-1">Địa chỉ: Số 56, Cổ Nhuế,
							Từ Liêm, Hà Nội</li>
						<li class="border-bottom pt-1 pb-1">Email:
							anhvanmobile@gmail.com</li>
						<li class="border-bottom pt-1 pb-1"><a href="#"><i
								class="fab fa-facebook"></i></a> <a href="#"><i
								class="fab fa-google-plus"></i></a> <a href="#"><i
								class="fab fa-twitter-square"></i></a> <a href="#"><i
								class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul style="list-style-type: none; margin: 0; padding: 0">
						<li class="border-bottom pt-2 pb-1">
							<h4>DỊCH VỤ</h4>
						</li>
						<li class="border-bottom pt-1 pb-1">Bảo hành</li>
						<li class="border-bottom pt-1 pb-1">Vận chuyển</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</body>
</html>